{{ $image := ( .Page.Resources.GetMatch  ( .Get 0 )) }}
{{ if gt $image.Width 1920 }}
{{ $image = $image.Resize "1920x q90" }}
{{ if gt $image.Height 1920 }}
{{ $image = $image.Resize "x1920 q90" }}
{{ end }}
{{ end }}
{{ $placeholder := $image.Resize "64x q30" }}

<div class="placeholder pic" data-large="{{ $image.RelPermalink }}">
    <img src="{{ $placeholder.RelPermalink }}" class="img-small">
    <div style="padding-bottom: {{div (mul $image.Height 100) $image.Width}}%;"></div>
    {{ if .Get 1 }}
    <span class="caption">{{ .Get 1 | safeHTML }}</span>
    {{ end }}
</div>
